/* Write your code here. */
* {
  box-sizing: content-box;
}
body {
  margin: 0px;
}
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png");
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.inside-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 700px;
}

@media screen and (min-width: 768px) {
  .inside-container {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .inside-container {
    width: 60%;
  }
}

.heading {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-family: "Bree Serif";
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .buttons-container {
    flex-direction: row;
  }
}

.button {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  border-radius: 20px;
  border-width: 0px;
  border: none;
  height: 30px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 24px;
  padding-left: 24px;
}

@media screen and (min-width: 768px) {
  .button {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
}

.button1 {
  background-color: #eab308;
  color: #ffffff;
}

.button2 {
  background-color: #ffffff;
  color: #323f4b;
}

.button3 {
  background-color: #1d4ed8;
  color: #ffffff;
}
